/* AboutUs.css */
.about-us {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .section {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .text {
    flex: 1;
  }
  
  .image {
    flex: 1;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    color: #777;
  }
  
  /* Add more specific styles for images and sections as needed */
  