.mainpage{
    display: flex ;
    height: 45px;
    width: 100%;
    background-color: #cccdca;
}

.mainpage h5{
    display: block;
    margin-top: 2px;
    padding-left: 150px;
  padding-top: 10px;
    color: black;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mainpage h4{
    text-decoration: none;
    margin-top: 2px;
    margin-left: 200px;
    padding-top: 10px;
    color: black;
    font-size: 15px;
    font-weight: lighter;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.mainpage h3{
    text-decoration: none;
    margin-top: 2px;
    margin-left: 200px;
    padding-top: 10px;
    color: black;
    font-size: 15px;
    text-align: center;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.icons{
    width: 300px;
    margin-top: 2px;
    margin-left: 150px;
    padding-top: 10px;
}

.icons ion-icon{
    color: white;
    font-size: 20px;
    padding-left: 10px;
    margin-left: 10px;
    transition: 0.7s ease-in-out;
}

.icons ion-icon:hover{
    color: rgb(43, 125, 206);

}